{% extends 'base.html.twig' %}

{% block title %}Editer mon profil{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Editer">
    {{ form_end(form) }}

    {{ include('Members/desinscription.html.twig') }}

    <a href="{{ path('member_show', {'id':member.id}) }}">Revenir à ma page de profil</a>

{% endblock %}