{% extends 'base.html.twig' %}

{% block title %}{% trans %}Profil de{% endtrans %} {{ member.username }}{% endblock %}

{% block body %}
    
    <ul>
        <li>Nom : {{ member.LastName }}</li>
        <li>Prénom : {{ member.FirstName }}</li>
        <li>Email : {{ member.Mail }}</li>
        <li>Description : {{ member.Description }}</li>
        <img class="avatar" src="{{ asset(member.Avatar) }}"/>
    </ul>

    <a href="{{ path('member_edit', {'id':member.id}) }}">{% trans %}Editer mon profil{% endtrans %}</a>

    <a href="{{ path('accueil') }}">Revenir à la page d'accueil</a>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Sauvegarder">
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div id="flash-notice" class="text-center mx-auto">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}