{% extends 'base.html.twig' %}

{% block title %}{{ member.username }} {% trans %}profil{% endtrans %}{% endblock %}

{% block body %}
    <main class="main-profile">

        <section class="container-profile">
            <article class="profile-show">

                <img class="rounded avatar" alt="Votre avatar" src="{{ asset(member.Avatar) }}"/>
                <div class="info-profile">
                    <h3 class="username-profile">{{ member.username }}</h3>
                    <p class="member-lastName">{% trans %}Nom{% endtrans %} : {{ member.LastName }}</p>
                    <p class="member-firstName">{% trans %}Prénom{% endtrans %} : {{ member.FirstName }}</p>
                    <p class="member-mail">{% trans %}Email{% endtrans %} : {{ member.Mail }}</p>
                    <p class="member-description">Description : {{ member.Description }}</p>
                </div>

                <form class="form-edit-member" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="_token" value="{{ csrf_token('edit-member' ~ member.id) }}">

                    <div class="form-group">
                        <input type="text" class="form-control" name="username" value="{{ member.username }}">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="last_name" value="{{ member.LastName }}">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="first_name" value="{{ member.FirstName }}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="password" class="form-control" name="password" placeholder="Mot de passe">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="password" class="form-control" name="password_verify" placeholder="Confirmation mot de passe">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="mail" value="{{ member.Mail }}">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control content-edit-member" name="description">{{ member.Description }}</textarea>
                    </div>

                    <div class="form-group">
                        <input type="file" name="avatar">
                    </div>
                </form>
            
            </article>
        </section>

        <div class="link-article-page">
            <a class="btn-site btn-edit-member" data-locale="{{ app.session.get('_locale') }}" data-toggle="false" data-id="{{ member.id }}" href="{{ path('member_edit', {'id':member.id}) }}">{% trans %}Editer mon profil{% endtrans %}</a>

            <a class="btn-site cancel-member" href="#">{% trans %}Annuler{% endtrans %}</a>

            <a class="btn-site link-return-homepage" href="{{ path('accueil') }}">{% trans %}Revenir à l'accueil{% endtrans %}</a>

            {{ include('Members/desinscription.html.twig') }}
        </div>

        <div class="alert alert-success edit-success" role="alert">
            Le profil a bien été édité
        </div>

        <div class="alert alert-danger edit-error" role="alert">
            Une erreur s'est produite lors de l'édition de votre profil
        </div>

    </main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/editMember.js') }}"></script>
{% endblock %}