{% extends 'base.html.twig' %}

{% block title %}{{ member.username }} {% trans %}profil{% endtrans %}{% endblock %}

{% block body %}
    <main class="main-profile">

        <section class="container-profile">
            <article class="profile-show">

                <img class="rounded avatar" alt="Votre avatar" src="{{ asset(member.Avatar) }}"/>
                <div class="info-profile">
                    <h3 class="username-profile">{{ member.username }}</h3>
                    <p>{% trans %}Nom{% endtrans %} : {{ member.LastName }}</p>
                    <p>{% trans %}Prénom{% endtrans %} : {{ member.FirstName }}</p>
                    <p>{% trans %}Email{% endtrans %} : {{ member.Mail }}</p>
                    <p>Description : {{ member.Description }}</p>
                </div>
            
            </article>
        </section>

        <div class="link-article-page">
            <a class="btn-site" href="{{ path('member_edit', {'id':member.id}) }}">{% trans %}Editer mon profil{% endtrans %}</a>

            <a class="btn-site link-return-homepage" href="{{ path('accueil') }}">{% trans %}Revenir à l'accueil{% endtrans %}</a>
        </div>

        {% for message in app.flashes('success') %}
            <div id="flash-notice" class="text-center mx-auto">
                {{ message }}
            </div>
        {% endfor %}
    </main>

{% endblock %}