{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le site{% endblock %}

{% block body %}

    <table>
        {% for article in articles %}
            <tr>
                <td>{{article.TitleArticle}}</td>
                <td>{{article.DateArticle|date('d-m-y')}}</td>
                <td>{{article.TextArticle|slice(0, 150)}}</td>
                <td><a href="{{ path('show_article', {'id' : article.Id}) }}">En savoir plus</a></td>
            </tr>
        {% endfor %}
    </table>

    {% if user %}
    <a href="{{ path('logout') }}">Déconnexion</a>
    <a href="{{ path('member_show', {'id':user.id}) }}">Voir mon profil</a>
    {% else %}
    <a href="{{ path('login') }}">Connexion</a>
    <a href="{{ path('inscription') }}">Inscription</a>
    {% endif %}

    <a href="{{ path('posts_list') }}">Forum</a>

    {% for message in app.flashes('success') %}
        <div id="flash-notice" class="text-center mx-auto">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}