{% extends 'base.html.twig' %}

{% block title %}{% trans %}Bienvenue sur le site{% endtrans %}{% endblock %}

{% block body %}

    <table>
        {% for article in articles %}
            <tr>
                <td>{{article.TitleArticle}}</td>
                <td>{{article.DateArticle|date('d-m-y')}}</td>
                <td>{{article.TextArticle|slice(0, 150)}}</td>
                <td><a href="{{ path('show_article', {'id' : article.Id}) }}">{% trans %}En savoir plus{% endtrans %}</a></td>
            </tr>
        {% endfor %}
    </table>

    {% if user %}

        <a href="{{ path('logout') }}">{% trans %}Déconnexion{% endtrans %}</a>
        <a href="{{ path('member_show', {'id':user.id}) }}">{% trans %}Voir mon profil{% endtrans %}</a>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{% trans %}Sauvegarder{% endtrans %}">
        {{ form_end(form) }}

    {% else %}

        <a href="{{ path('login') }}">Connexion</a>
        <a href="{{ path('inscription') }}">Inscription</a>

    {% endif %}

    <a href="{{ path('posts_list') }}">Forum</a>

    {% for message in app.flashes('success') %}
        <div id="flash-notice" class="text-center mx-auto">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}