{% extends 'base.html.twig' %}

{% block title %}{% trans %}Bienvenue sur le site{% endtrans %}{% endblock %}

{% block body %}

    <header class="wrap">

        <div id="arrow-left" class="arrow"></div>

            <div id="slider">
                <div class="slide slide1">
                    <div class="slide-content">
                        <span>{% trans %}Bienvenue sur le site "Les Nouveaux Animaux de Compagnie"{% endtrans %}</span>
                    </div>
                </div>
            
                <div class="slide slide2">
                    <div class="slide-content">
                        <span>{% trans %}Retrouvez tous nos articles animaliers{% endtrans %}</span>
                    </div>
                </div>

                <div class="slide slide3">
                    <div class="slide-content">
                        <span>{% trans %}N'hésitez pas à faire un tour sur notre forum{% endtrans %}</span>
                    </div>
                </div>
            </div>

        <div id="arrow-right" class="arrow"></div>

    </header>

    <main class="homepage">
        <section class="article-box">
            {% for article in articles %}
                <article class="article">

                    <div class="div-img">
                        <img src="{{ asset(article.image) }}">
                    </div>

                    <div class="containt-article">
                        <h2 class="title-article">{{article.TitleArticle}}</h2>
                        <p class="date-article">{{article.DateArticle|date('d-m-y')}}</p>
                        <p class="text-article">{{article.TextArticle|slice(0, 150)}}</p>
                        <a class="btn-site" href="{{ path('show_article', {'id' : article.Id}) }}">{% trans %}En voir plus{% endtrans %}</a>
                    </div>
                    
                </article>
            {% endfor %}
        </section>

        <aside id="contacts" class="sidebox">
            <h4>Contacts</h4>
            {{ form_start(form) }}
                {{ form_label(form.lastname, 'Nom') }}
                {{ form_widget(form.lastname) }}

                {{ form_label(form.firstname, 'Prénom') }}
                {{ form_widget(form.firstname) }}

                {{ form_label(form.mail, 'Adresse e-mail') }}
                {{ form_widget(form.mail) }}

                {{ form_label(form.message, 'Message') }}
                {{ form_widget(form.message, {'attr': {'class': 'area-message'} }) }}
                <input class="btn-site btn-submit-contact" type="submit" value="Envoyer">
            {{ form_end(form) }}
        </aside>

        {% for message in app.flashes('success') %}
            <div id="flash-notice" class="text-center mx-auto">
                {{ message }}
            </div>
        {% endfor %}

    </main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/slider.js') }}"></script>
{% endblock %}