{% extends 'base.html.twig' %}

{% block title %}{% trans %}Bienvenue sur le site{% endtrans %}{% endblock %}

{% block body %}

    <div class="wrap">

        <div id="arrow-left" class="arrow"></div>

            <div id="slider">
                <div class="slide slide1">
                    <div class="slide-content">
                        <span>{% trans %}Bienvenue sur le site "Les Nouveaux Animaux de Compagnie"{% endtrans %}</span>
                    </div>
                </div>
            
                <div class="slide slide2">
                    <div class="slide-content">
                        <span>{% trans %}Retrouvez tous nos articles animaliers{% endtrans %}</span>
                    </div>
                </div>

                <div class="slide slide3">
                    <div class="slide-content">
                        <span>{% trans %}N'hésitez pas à faire un tour sur notre forum{% endtrans %}</span>
                    </div>
                </div>
            </div>

        <div id="arrow-right" class="arrow"></div>

    </div>

    <section class="article-box">
        {% for article in articles %}
            <article class="article">
                <h2 class="title-article">{{article.TitleArticle}}</h2>
                <p class="date-article">{{article.DateArticle|date('d-m-y')}}</p>
                <p class="text-article">{{article.TextArticle|slice(0, 150)}}</p>
                <a href="{{ path('show_article', {'id' : article.Id}) }}">{% trans %}En savoir plus{% endtrans %}</a>
            </article>
            <hr>
        {% endfor %}
    </section>

    {% for message in app.flashes('success') %}
        <div id="flash-notice" class="text-center mx-auto">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/slider.js') }}"></script>
{% endblock %}