{% extends 'base.html.twig' %}

{% block title %}{% trans %}Bienvenue sur le site{% endtrans %}{% endblock %}

{% block body %}

    <header class="wrap">

            <div id="carouselExampleControls" class="carousel slide test" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <span>{% trans %}Bienvenue sur le site "Les Nouveaux Animaux de Compagnie"{% endtrans %}</span>
                        <img src="{{ asset('images/pug.jpg') }}" class="d-block w-100" alt="Un carlin enroulé dans une couverture">
                    </div>
                    <div class="carousel-item">
                        <span class="span-cat">{% trans %}Retrouvez tous nos articles animaliers{% endtrans %}</span>
                        <img src="{{ asset('images/cat.jpg') }}" class="d-block w-100" alt="Profil d'un chat">
                    </div>
                    <div class="carousel-item">
                        <span>{% trans %}N'hésitez pas à faire un tour sur notre forum{% endtrans %}</span>
                        <img src="{{ asset('images/foal.jpg') }}" class="d-block w-100" alt="Poulain couché dans l'herbe">
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            
            </div>

    </header>

    <main class="homepage">

        <section class="article-box">
            {% for article in articles %}
                <article class="article">

                    <div class="div-img">
                        <img src="{{ asset(article.image) }}">
                    </div>

                    <div class="containt-article">
                        <h2 class="title-article">{{article.TitleArticle}}</h2>
                        <p class="date-article">{{article.DateArticle|date('d-m-y')}}</p>
                        <p class="text-article">{{article.TextArticle|slice(0, 150)}}</p>
                        <a class="btn-site" href="{{ path('show_article', {'id' : article.Id}) }}">{% trans %}En voir plus{% endtrans %}</a>
                    </div>
                    
                </article>
            {% endfor %}
        </section>

        <aside id="contacts" class="sidebox">
            <h4>Contacts</h4>
            {{ form_start(form) }}
                {{ form_label(form.lastname, 'Nom') }}
                {{ form_widget(form.lastname) }}

                {{ form_label(form.firstname, 'Prénom') }}
                {{ form_widget(form.firstname) }}

                {{ form_label(form.mail, 'Adresse e-mail') }}
                {{ form_widget(form.mail) }}

                {{ form_label(form.message, 'Message') }}
                {{ form_widget(form.message, {'attr': {'class': 'area-message'} }) }}
                <input class="btn-site btn-submit-contact" type="submit" value="{% trans %}Envoyer{% endtrans %}">
            {{ form_end(form) }}
        </aside>

        {% if not app.request.cookies.get('cookie-bandeauCookie') %}
        <div class="container">
            <div class="toast message-cookie" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img widht="10px" height="20px" src="{{ asset('images/gingerman.png') }}" class="rounded mr-2" alt="...">
                    <strong class="mr-auto">Cookies</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    <p>
                        {% trans %}Les cookies vous permettent de bénéficier de nombreuses fonctionnalités afin d'améliorer votre navigation sur le site. En utilisant ce site, vous acceptez de recevoir des cookies. Pour en savoir plus et accepter les cookies{% endtrans %}, <a href="{{ path('mentionslegales') }}#cookies">{% trans %}cliquez ici{% endtrans %}</a>.
                    </p>
                </div>
            </div>
        </div>
        {% endif %}

        {% for message in app.flashes('success') %}
            <div id="flash-notice" class="text-center mx-auto">
                {{ message }}
            </div>
        {% endfor %}

    
    </main>

{% endblock %}