{% extends 'base.html.twig' %}

{% block title %}{% trans %}Votre recherche{% endtrans %}{% endblock %}

{% block body %}

    <main class="container-fluid">

    <div class="title-article-search">
        <h3>{% trans %}Article(s) lié(s) à votre recherche{% endtrans %} :</h3>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="{{ path('search', {'pageArticle': 1, 'pagePost': page_post}) }}?s={{ query }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if (page_article + 1) <= number_page_article %}
                <li class="page-item"><a class="page-link" href="{{ path('search', {'pageArticle': page_article + 1, 'pagePost': page_post}) }}?s={{ query }}">{{ page_article + 1 }}</a></li>
            {% endif %}
            {% if (page_article + 2) <= number_page_article %}
                <li class="page-item"><a class="page-link" href="{{ path('search', {'pageArticle': page_article + 2, 'pagePost': page_post}) }}?s={{ query }}">{{ page_article + 2 }}</a></li>
            {% endif %}
            {% if (page_article + 3) <= number_page_article %}
                <li class="page-item"><a class="page-link" href="{{ path('search', {'pageArticle': page_article + 3, 'pagePost': page_post}) }}?s={{ query }}">{{ page_article + 3 }}</a></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{{ path('search', {'pageArticle': number_page_article, 'pagePost': page_post}) }}?s={{ query }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="row justify-content-md-center">
        
        {% for article in articles %}
            <div class="card article-card-search" style="max-width: 18rem;">
                <img src="{{ asset(article.image) }}" class="card-img-top" alt="Image de l'article">
                <div class="card-body">
                    <h5 class="card-title">{{ article.TitleArticle }}</h5>
                    <p class="card-text">{{ article.TextArticle }}</p>
                </div>
                
                <div class="card-footer">
                    <a href="{{ path('show_article', {'id' : article.Id}) }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="title-post-search">
        <h3>{% trans %}Post(s) lié(s) à votre recherche{% endtrans %} :</h3>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="{{ path('search', {'pageArticle': page_article, 'pagePost': 1}) }}?s={{ query }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if (page_post + 1) <= number_page_post %}
                <li class="page-item"><a class="page-link" href="{{ path('search', {'pageArticle': page_article, 'pagePost': page_post + 1}) }}?s={{ query }}">{{ page_post + 1 }}</a></li>
            {% endif %}
            {% if (page_post + 2) <= number_page_post %}
                <li class="page-item"><a class="page-link" href="{{ path('search', {'pageArticle': page_article, 'pagePost': page_post + 2}) }}?s={{ query }}">{{ page_post + 2 }}</a></li>
            {% endif %}
            {% if (page_post + 3) <= number_page_post %}
                <li class="page-item"><a class="page-link" href="{{ path('search', {'pageArticle': page_article, 'pagePost': page_post + 3}) }}?s={{ query }}">{{ page_post + 3 }}</a></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{{ path('search', {'pageArticle': page_article, 'pagePost': number_page_post}) }}?s={{ query }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="row justify-content-md-center">
        {% for post in posts %}
            <div class="card bg-light post-card-search" style="max-width: 18rem;">
                <div class="card-header">{{ post.TitlePost}}</div>
                <div class="card-body">
                    <p class="card-text">{{ post.TextPost}}</p>
                </div>

                <div class="card-footer">
                    <a href="{{ path('show_post', {'id' : post.Id}) }}" class="btn btn-primary">Voir</a>
                </div>
            </div>

        {% endfor %}
    </div>
    
    </main>

{% endblock %}