{% extends 'base.html.twig' %}

{% block title %}{% trans %}Votre recherche{% endtrans %}{% endblock %}

{% block body %}

    <main class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 border">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center pagination-articles">
                            {# The arrow appears if the current page is not the first page #}
                            {% if numberPageArticle > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path('search', {'pageArticle': 1,'pagePost': numberPagePost}) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if articlesPages <= 3 %}
                                <li class="page-item {% if numberPageArticle == 1 %}active{% endif %}">
                                    <a class="page-link" href="{{ path('search', {'pageArticle': 1,'pagePost': numberPagePost}) }}">1</a>
                                </li>

                                {% if articlesPages >= 2 %}
                                    <li class="page-item {% if numberPageArticle == 2 %}active{% endif %}">
                                        <a class="page-link" href="{{ path('search', {'pageArticle': 2,'pagePost': numberPagePost}) }}">2</a>
                                    </li>
                                {% endif %}

                                {% if articlesPages >= 3 %}
                                    <li class="page-item {% if numberPageArticle == 3 %}active{% endif %}">
                                        <a class="page-link" href="{{ path('search', {'pageArticle': 3,'pagePost': numberPagePost}) }}">3</a>
                                    </li>
                                {% endif %}

                            {# If there are more than 3 pages, it's show the current page and the next two #}
                            {% else %}

                                <li class="page-item active">
                                    <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle,'pagePost': numberPagePost}) }}">{{ numberPageArticle }}</a>
                                </li>

                                {% if (numberPageArticle + 1) <= articlesPages %}
                                    <li class="page-item {% if numberPageArticle == numberPageArticle + 1 %}active{% endif %}">
                                        <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle + 1,'pagePost': numberPagePost}) }}">{{ numberPageArticle + 1 }}</a>
                                    </li>
                                {% endif %}

                                {% if (numberPageArticle + 2) <= articlesPages %}
                                    <li class="page-item {% if numberPageArticle == numberPageArticle + 2 %}active{% endif %}">
                                        <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle + 2,'pagePost': numberPagePost}) }}">{{ numberPageArticle + 2 }}</a>
                                    </li>
                                {% endif %}

                            {% endif %}

                            {# The arrow appears if the current page is not the last page #}
                            {% if (numberPageArticle + 2) <= articlesPages %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path('search', {'pageArticle': articlesPages,'pagePost': numberPagePost}) }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                <div class="title-article-search">
                        <h5>{% trans %}Article(s) lié(s) à votre recherche{% endtrans %} : {{ resultSearch }}</h5>
                </div>

                <div class="row justify-content-md-center">

                    {% for article in articles %}
                        <div class="card article-card-search" style="max-width: 18rem;">
                            <img src="{{ asset(article.image) }}" class="card-img-top" alt="Image de l'article">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.TitleArticle }}</h5>
                                <p class="card-text">{{ article.TextArticle|slice(0, 150)|raw }}</p>
                            </div>
                            
                            <div class="card-footer">
                                <a href="{{ path('show_article', {'id' : article.Id}) }}" class="btn btn-primary">Voir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-12 col-md-6 border">

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center pagination-posts">
                            {% if numberPagePost > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle,'pagePost': 1}) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            {% if postsPages <= 3 %}
                                <li class="page-item {% if numberPagePost == 1 %}active{% endif %}">
                                    <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle,'pagePost': 1}) }}">1</a>
                                </li>

                                {% if postsPages >= 2 %}
                                    <li class="page-item {% if numberPagePost == 2 %}active{% endif %}">
                                        <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle,'pagePost': 2}) }}">2</a>
                                    </li>
                                {% endif %}

                                {% if postsPages >= 3 %}
                                    <li class="page-item {% if numberPagePost == 3 %}active{% endif %}">
                                        <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle,'pagePost': 3}) }}">3</a>
                                    </li>
                                {% endif %}

                            {% else %}

                                <li class="page-item active">
                                    <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle,'pagePost': numberPagePost}) }}">{{ numberPagePost }}</a>
                                </li>

                                {% if (numberPagePost + 1) <= postsPages %}
                                    <li class="page-item {% if numberPagePost == numberPagePost + 1 %}active{% endif %}">
                                        <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle,'pagePost': numberPagePost + 1}) }}">{{ numberPagePost + 1 }}</a>
                                    </li>
                                {% endif %}

                                {% if (numberPagePost + 2) <= postsPages %}
                                    <li class="page-item {% if numberPagePost == numberPagePost + 2 %}active{% endif %}">
                                        <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle,'pagePost': numberPagePost + 2}) }}">{{ numberPagePost + 2 }}</a>
                                    </li>
                                {% endif %}

                            {% endif %}

                            {% if (numberPagePost + 2) <= postsPages %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path('search', {'pageArticle': numberPageArticle,'pagePost': postsPages}) }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                <div class="title-post-search">
                        <h5>{% trans %}Post(s) lié(s) à votre recherche{% endtrans %} : {{ resultSearch }}</h5>
                </div>

                <div class="row justify-content-md-center">
                    {% for post in posts %}
                        <div class="card col-md-6 bg-light post-card-search" style="max-width: 18rem;">
                            <div class="card-header" style="width: 100%;">{{ post.TitlePost}}</div>
                            <div class="card-body">
                                <p class="card-text">{{ post.TextPost|slice(0, 150)|raw }}</p>
                            </div>

                            <div class="card-footer">
                                <a href="{{ path('show_post', {'id' : post.Id}) }}" class="btn btn-primary">Voir</a>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    
    </main>

{% endblock %}