{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block body %}

<div class="login-container">

    {% if error %}
        <span>{{ error.messageKey }}</span>
    {% endif %}

    <form action="{{ path('login') }}" method="POST">
        <input type="hidden" name="_target_path" value="{{ path('accueil') }}" />
        <input type="text" name="_username" value="{{ last_username }}" placeholder="pseudo ...">
        <input type="password" name="_password">
        <input type="submit" value="Se connecter">
    </form>

    <a href="{{ path('lostpassword') }}">Mot de passe oublié ?</a>
    <a href="{{ path('accueil') }}">Revenir à la page d'accueil</a>
</div>
{% endblock %}