{% extends 'base.html.twig' %}

{% block title %}{% trans %}Les articles{% endtrans %}{% endblock %} {# Trans tags for translate the word #}

{% block body %}

    <main class="list-articles">
        <div class="accordion" id="accordionExample"> {# Bootstrap classes #}
            {% for article in articles %}
                <div class="card">
                    <div class="card-header container-card-articles" id="heading{{ article.Id }}">
                        <h2 class="mb-0 article-header articles-card-header">
                            <button class="btn btn-link btn-open" type="button" data-toggle="collapse" data-target="#collapse{{ article.Id }}" aria-expanded="false" aria-controls="collapse{{ article.Id }}">
                                <span class="article-card-title">{{article.TitleArticle}}</span>
                            </button>
                            {% if app.session.get('_locale') == 'fr' %}
                                <span class="article-card-date">{{ article.dateFormat }}</span> {# Change the format of the date and transform them on format (ex : 'Tue 10 May 2019') #}
                            {% else %}
                                <span class="article-card-date">{{ article.DateArticle|date('D d M Y') }}</span>{# Change the format of the date without the transform format #}
                            {% endif %}
                        </h2>
                    </div>

                    <div id="collapse{{ article.Id }}" class="collapse" aria-labelledby="heading{{ article.Id }}" data-parent="#accordionExample">
                        <div class="card-body">
                            
                            <p>{{ article.TextArticle|slice(0, 150)|raw }}</p> {# Allow to get only the 150 first characters #}
                            <a class="btn btn-primary" href="{{ path('show_article', {'id' : article.Id}) }}">{% trans %}Voir{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="container-arrows">
                <a class="arrow-down">
                    <i class="fas fa-angle-down fa-2x icon-arrow-down"></i>
                </a>
                <a class="arrow-up">
                    <i class="fas fa-angle-up fa-2x icon-arrow-up"></i>
                </a>
            </div>
        
        </div>

        <div class="link-article-page">
            <a class="btn-site link-homepage" href="{{ path('accueil') }}">{% trans %}Revenir à l'accueil{% endtrans %}</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn-site" href="{{ path('add-article') }}">{% trans %}Ajouter un article{% endtrans %}</a>
            {% endif %}
        </div>

        {# Show flash success if the message is create in the Controller #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/scrollBtn.js') }}"></script>
{% endblock %}