{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <main class="main-article">

        <div class="article-page">

            <section class="container-article">
                <article class="article-show">
                    <img src="{{ asset(article.image) }}">
                    <h2 class="title-article">{{article.TitleArticle}}</h2>
                    <p class="date-article">{{article.DateArticle|date('d-m-y')}}</p>
                    <p class="text-article">{{article.TextArticle}}</p>
                    
                    <div class="like">
                        {% if is_granted('ROLE_USER') %}
                            {% if member_like %}
                            <ion-icon name="heart"></ion-icon>
                            {% else %}
                            <ion-icon name="heart-empty"></ion-icon>
                            {% endif %}
                        {% endif %}
                    <p class="nb-like-article">{{likes}}</p>
                    </div>

                    <div class="container-btn-article">
                        <div class="like-article">
                        {% if is_granted('ROLE_USER') %}

                            {{ form_start(formLike) }}
                            {{ form_widget(formLike) }}
                            {{ form_end(formLike) }}

                            <a href="#">
                            <label for="toggle-comment">Commenter</label>
                            </a>

                        {% else %}

                            <p>Vous devez être connecté pour pouvoir liker un commentaire</p>

                        {% endif %}
                        </div>

                        <div class="btn-admin-article">
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ include('Admin/article/delete.html.twig') }}
                            <a href="{{ path('article_edit', {'id' : article.Id}) }}">Editer l'article</a>
                        {% endif %}
                        </div>
                    </div>

                </article>
            </section>

            <input id="toggle-comment" type="checkbox">
            <div class="form-comment-article">
                {% if is_granted('ROLE_USER') %}

                    {{ form_start(form) }}
                    {{ form_widget(form.text_comment, {'attr': {'rows': '2', 'class': 'message-comment-article'} }) }}
                    <input class="btn-send-comment-article" type="submit" value="{% trans %}Envoyer{% endtrans %}">
                    {{ form_end(form) }}

                {% else %}

                    <p>Vous devez être connecté pour pouvoir poster un commentaire</p>

                {% endif %}
            </div>
            
            <div class="article-comment">
                {% for comment in comments %}
                    <section class="comment-response-article">
                        <article class="comment-article">
                            <p class="date-article-comment">{{ comment.DateComment|date('d-m-Y') }}</p>
                            <p class="username-article-comment">{{ comment.IdMemberFK.username }}</p>
                            <p class="text-article-comment">{{ comment.TextComment }}</p>

                            <div class="btn-comment">
                                {% if is_granted('MODIF', comment) %}
                                    <a class="btn-edit-comment" href="{{ path('edit_comment', {'id':comment.Id}) }}">{% trans %}Editer{% endtrans %}</a>
                                {% endif %}

                                {% if is_granted('MODIF', comment) %}
                                    {{ include('article/comments/delete.html.twig') }}
                                {% endif %}
                            </div>
                            {% if user %}
                                <a class="response-btn" href="#" data-id="{{ comment.Id }}">{% trans %}Répondre{% endtrans %}</a>
                            {% endif %}
                        </article>

                        {% for response in comment.getResponses %}

                            <article class="response-article">
                                <p class="date-article-response">{{ response.DateResponse|date('d-m-Y') }}</p>
                                <p class="username-article-response">{{ response.IdMemberFK.username }}</p>
                                <p class="text-article-response">{{ response.TextResponse }}</p>

                                <div class="btn-response">
                                    {% if is_granted('MODIFRESPONSE', response) %}
                                        <a href="{{ path('edit_response', {'id':response.Id}) }}">{% trans %}Editer{% endtrans %}</a>
                                    {% endif %}

                                    {% if is_granted('MODIFRESPONSE', response) %}
                                        {{ include('article/responses/delete.html.twig') }}
                                    {% endif %}
                                </div>
                            </article>

                        {% endfor %}
                        
                        <div class="contain-response{{ comment.Id }}">

                        </div>
                    </section>

                {% endfor %}

                <div class="contain-form-response">
                    {{ form_start(formResponse) }}
                    {{ form_widget(formResponse.text_response) }}
                    <input type="hidden" value="" name="id_comment">
                    <input type="submit" value="Envoyer">
                    {{ form_end(formResponse) }}
                </div>

                <div class="link-article-page">
                    <a class="a-article-list" href="{{ path('articles_list') }}">{% trans %}Revenir à la liste des articles{% endtrans %}</a>
                    
                    <a class="a-accueil" href="{{ path('accueil') }}">Revenir à l'accueil</a>
                </div>

                {% for message in app.flashes('success') %}
                    <div id="flash-notice" class="text-center mx-auto">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

        </div>

    </main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/editComment.js') }}"></script>
    <script src="{{ asset('js/likeArticle.js') }}"></script>
    <script src="{{ asset('js/toggle-response.js') }}"></script>
{% endblock %}