{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <main class="main-article">

        <div class="article-page">

            <section class="container-article">
                <article class="article-show">
                    <img src="{{ asset(article.image) }}">
                    <h2 class="title">{{article.TitleArticle}}</h2>
                    <p class="date">{{article.DateArticle|date('d-m-y')}}</p>
                    <p class="text">{{article.TextArticle}}</p>
                    
                    <div class="like">
                        {% if is_granted('ROLE_USER') %}
                            {% if member_like %}
                                <ion-icon name="heart"></ion-icon>
                            {% else %}
                                <ion-icon name="heart-empty"></ion-icon>
                            {% endif %}
                        {% endif %}
                    <p class="nb-like-article">{{likes}} likes</p>
                    </div>

                    <div class="container-btn-article">
                        <div class="like-article">
                        {% if is_granted('ROLE_USER') %}

                            {{ form_start(formLike) }}
                            {{ form_widget(formLike) }}
                            {{ form_end(formLike) }}

                            <a class="btn-site" href="#">
                            <label for="toggle-comment">Commenter</label>
                            </a>

                        {% else %}

                            <p>Vous devez être connecté pour pouvoir liker ou commenter un article</p>

                        {% endif %}
                        </div>

                        <div class="btn-admin-article">
                        {% if is_granted('ROLE_ADMIN') %}

                            {{ include('Admin/article/delete.html.twig') }}
                            <a class="btn-site" href="{{ path('article_edit', {'id' : article.Id}) }}">Editer l'article</a>

                        {% endif %}
                        </div>
                    </div>

                </article>
            </section>

            <input id="toggle-comment" type="checkbox">
            <div class="form-comment-article">
                {% if is_granted('ROLE_USER') %}

                    {{ form_start(form) }}
                    {{ form_widget(form.text_comment, {'attr': {'rows': '2', 'class': 'message-comment-article'} }) }}
                    <input class="btn-site" type="submit" value="{% trans %}Envoyer{% endtrans %}">
                    {{ form_end(form) }}

                {% endif %}
            </div>
            
            <div class="article-comment">
                {% for comment in comments %}
                    <section class="comment-response-article">
                        <article class="comment-article">
                            <p class="date">{{ comment.DateComment|date('d-m-Y') }}</p>
                            <p class="username username-comment">{{ comment.IdMemberFK.username }}</p>
                            <p class="text-article-comment content-comment{{ comment.id }}">{{ comment.TextComment }}</p>
                            <form class="form-edit-comment form-edit-comment{{ comment.id }}" method="post">
                                <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ comment.id) }}">
                                <textarea class="content-comment-edit content-comment-edit{{comment.id}}" name="text_comment"></textarea>                        
                            </form>

                            <div class="btn-comment">
                                {% if is_granted('MODIF', comment) %}
                                    <a class="btn-site btn-edit-comment" data-id="{{comment.id}}" href="{{ path('edit_comment', {'id':comment.Id}) }}">{% trans %}Editer{% endtrans %}</a>
                                    <a class="btn-site cancel-comment cancel-comment{{comment.id}}" href="#">Annuler</a>
                                {% endif %}

                                {% if is_granted('MODIF', comment) %}
                                    {{ include('article/comments/delete.html.twig') }}
                                {% endif %}
                            </div>

                            {% if is_granted('ROLE_USER') %}
                                <a class="btn-site response-btn" href="#" data-id="{{ comment.Id }}">{% trans %}Répondre{% endtrans %}</a>
                            {% endif %}
                        </article>

                        {% for response in comment.getResponses %}

                            <article class="response-article">
                                <p class="date date-response">{{ response.DateResponse|date('d-m-Y') }}</p>
                                <p class="username">{{ response.IdMemberFK.username }}</p>
                                <p class="text-article-response content-response{{ response.id }}">{{ response.TextResponse }}</p>
                                <form class="form-edit-response form-edit-response{{ response.id }}" method="post">
                                    <input type="hidden" name="_token" value="{{ csrf_token('edit-response' ~ response.id) }}">
                                    <textarea class="content-response-edit content-response-edit{{response.id}}" name="text_response"></textarea>                        
                                </form>

                                <div class="btn-response">
                                    {% if is_granted('MODIFRESPONSE', response) %}
                                        <a class="btn-site btn-edit-response" href="{{ path('edit_response', {'id':response.Id}) }}" data-id="{{response.id}}">{% trans %}Editer{% endtrans %}</a>
                                        <a class="btn-site cancel-response cancel-response{{response.id}}" href="#">Annuler</a>
                                    {% endif %}

                                    {% if is_granted('MODIFRESPONSE', response) %}
                                        {{ include('article/responses/delete.html.twig') }}
                                    {% endif %}
                                </div>
                            </article>

                        {% endfor %}
                        
                        <div class="contain-response{{ comment.Id }}">

                        </div>
                    </section>

                {% endfor %}

                <div class="contain-form-response">
                    {{ form_start(formResponse) }}
                    {{ form_widget(formResponse.text_response) }}
                    <input type="hidden" value="" name="id_comment">
                    <input class="btn-site" type="submit" value="Envoyer">
                    {{ form_end(formResponse) }}
                </div>

                <div class="link-article-page">
                    <a class="btn-site link-return-articles" href="{{ path('articles_list') }}">{% trans %}Revenir à la liste des articles{% endtrans %}</a>
                    
                    <a class="btn-site link-return-homepage" href="{{ path('accueil') }}">Revenir à l'accueil</a>
                </div>

                {% for message in app.flashes('success') %}
                    <div id="flash-notice" class="text-center mx-auto">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

        </div>

    </main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/editComment.js') }}"></script>
    <script src="{{ asset('js/editResponse.js') }}"></script>
    <script src="{{ asset('js/likeArticle.js') }}"></script>
    <script src="{{ asset('js/toggle-response.js') }}"></script>
{% endblock %}