{% extends 'base.html.twig' %}

{% block title %}{% trans %}Ajouter un post{% endtrans %}{% endblock %}

{% block body %}

    <main>
        {{ form_start(form) }}
            <div class="form-group">
            
                {{ form_row(form.title_post, { 'attr': {'class': 'form-control form-control-lg', 'type': 'text', 'placeholder': 'Titre du post'} }) }}

                {{ form_row(form.categorie, { 'attr': {'class': 'form-control form-control-sm'} }) }}
            
                {{ form_row(form.text_post, { 'attr': {'class': 'form-control', 'placeholder': 'Contenu du post', 'rows': '3'} }) }}

                {{ form_row(form.Envoyer, { 'attr': {'class': 'btn btn-primary'} }) }}

            </div>
        {{ form_end(form) }}

        <a class="btn-site" href="{{ path('posts_list') }}">{% trans %}Revenir à la liste des posts{% endtrans %}</a>
    </main>

{% endblock %}