{% extends 'base.html.twig' %}

{% block title %}{% trans %}Bienvenue sur le forum{% endtrans %}{% endblock %}

{% block body %}
    <main class="container list-posts">

        <div class="row justify-content-md-center">
            {% for post in posts %}
                <div class="card border-light col-3" style="max-width: 18rem;">
                    <div class="card-header">
                        <p> Catégorie : {{post.categorie}}</p>
                    </div>

                    <div class="card-body">
                        <h2 class="card-title">{{post.TitlePost}}</h2>
                        <p>{{post.DatePost|date('d-m-y')}}</p>
                        <a class="btn btn-primary" href="{{ path('show_post', {'id' : post.Id}) }}">{% trans %}Voir{% endtrans %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row navigation">
        
            <div class="col-12">
                <form class="category" method="post">
                    <select class="select-category" name="Catégories">
                        <option value="mammifères">{% trans %}mammifères{% endtrans %}</option>
                        <option value="reptiles">reptiles</option>
                        <option value="amphibiens">{% trans %}amphibiens{% endtrans %}</option>
                        <option value="oiseaux">{% trans %}oiseaux{% endtrans %}</option>
                        <option value="poissons">{% trans %}poissons{% endtrans %}</option>
                    </select>
                </form>
            </div>

            <div class="col-12">
                <div class="btn-link-forum">
                    <a class="btn-site" href="{{ path('add_post') }}">{% trans %}Ajouter un post{% endtrans %}</a>
                    <a class="btn-site" href="{{ path('accueil') }}">{% trans %}Revenir à la page d'accueil{% endtrans %}</a>
                </div>
            </div>

        </div>

        {% for message in app.flashes('success') %}
            <div id="flash-notice" class="text-center mx-auto">
                {{ message }}
            </div>
        {% endfor %}

    </main>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/category.js') }}"></script>

{% endblock %}