{% extends 'base.html.twig' %}

{% block title %}{% trans %}Bienvenue sur le forum{% endtrans %}{% endblock %}

{% block body %}
    <main class="container list-posts">

        <div class="row justify-content-md-center">
            {% for post in posts %}
                <div class="card border-light card-list-forum col-12 col-md-6 col-lg-4">
                    <div class="card-header">
                        <p> {% trans %}Catégorie{% endtrans %} : {{post.categorie | trans}}</p>
                    </div>

                    <div class="card-body">
                        <h2 class="card-title">{{post.TitlePost}}</h2>
                        {% if app.session.get('_locale') == 'fr_FR' %}
                            <p>{{ post.dateFormat }}</p>
                        {% else %}
                            <p>{{ post.DatePost|date('D d M Y') }}</p>
                        {% endif %}
                        <a class="btn btn-primary" href="{{ path('show_post', {'id' : post.Id}) }}">{% trans %}Voir{% endtrans %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row navigation">
        
            <div class="col-12">
                <form class="category" method="post">
                    <select class="select-category" name="Catégories">
                        <option value="mammifères">{% trans %}mammifères{% endtrans %}</option>
                        <option value="reptiles">reptiles</option>
                        <option value="amphibiens">{% trans %}amphibiens{% endtrans %}</option>
                        <option value="oiseaux">{% trans %}oiseaux{% endtrans %}</option>
                        <option value="poissons">{% trans %}poissons{% endtrans %}</option>
                    </select>
                </form>
            </div>

            <div class="container-arrows-forum">
                <a class="arrow-down-f">
                    <i class="fas fa-angle-down fa-2x icon-arrow-down-f"></i>
                </a>
                <a class="arrow-up-f">
                    <i class="fas fa-angle-up fa-2x icon-arrow-up-f"></i>
                </a>
            </div>
            
            <div class="col-12">
                <div class="btn-link-forum">
                    <a class="btn-site" href="{{ path('accueil') }}">{% trans %}Revenir à l'accueil{% endtrans %}</a>
                    {% if is_granted('ROLE_USER') %}
                        <a class="btn-site" href="{{ path('add_post') }}">{% trans %}Ajouter un post{% endtrans %}</a>
                    {% endif %}
                </div>
            </div>

        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

    </main>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/category.js') }}"></script>
    <script src="{{ asset('js/scrollBtn.js') }}"></script>

{% endblock %}