{% extends 'base.html.twig' %}

{% block title %}{{post.TitlePost}}{% endblock %}

{% block body %}
    <main class="main-forum">

        <div class="forum-page">

            <section class="container-forum">
                <article class="forum-show">

                    <h2 class="title title-post">{{post.TitlePost}}
                        {% if post.Resolve == 'resolve' %}
                            <span>[{% trans %}Post résolu{% endtrans %}]</span>
                        {% endif %}
                    
                    </h2>
                    <p class="date">{{post.DatePost|date('d-m-Y')}}</p>
                    {% if  not post.IdMemberFK == null %}
                    <p class="username">{{post.IdMemberFK.username}}</p>
                    {% else %}
                    <p class="member-not-exist">[{% trans %}Ce membre n'existe plus{% endtrans %}]</p>
                    {% endif %}
                    <p>{% trans %}Catégorie{% endtrans %} : {{post.categorie | trans}}</p>
                    <p class="text text-article">{{post.TextPost}}</p>

                    <form class="form-edit-post" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('edit-post' ~ post.id) }}">

                        <div class="form-group">
                            <input class="form-control" type="text" name="title_post" value="{{ post.TitlePost }}">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="text_post">{{ post.TextPost }}</textarea>
                        </div>
                    </form>

                    <div class="container-btn-post">

                        <div class="btn-comment-post">
                            <a class="btn-site" href="#">
                                <label for="toggle-comment">{% trans %}Commenter{% endtrans %}</label>
                            </a>
                        </div>

                        <div class="btn-admin-post">
                            {% if is_granted('MODIFPOST', post) %}

                                {{ include('forum/delete.html.twig') }}
                                <a class="btn-site btn-edit-post"  data-locale="{{ app.session.get('_locale') }}" data-toggle="false" data-id="{{ post.id }}" href="{{ path('post_edit', {'id' : post.Id}) }}">{% trans %}Editer le post{% endtrans %}</a>

                                <a class="btn-site cancel-post" href="#">{% trans %}Annuler{% endtrans %}</a>

                                {% if post.Resolve != 'resolve' %}
                                <form method="post">
                                    <input type="hidden" name="resolve" value="resolve">
                                    <input class="btn-site btn-resolve" type="submit" value="Résoudre">
                                </form>
                                {% endif %}

                            {% endif %}
                        </div>

                    </div>

                </article>
            </section>

            <input id="toggle-comment" type="checkbox">
            <div class="form-comment-post">
                {% if is_granted('ROLE_USER') %}

                    {{ form_start(form) }}
                    {{ form_widget(form.text_comment_post, {'attr': {'rows': '2', 'class': 'message-comment-post'} }) }}
                    <input class="btn-site" type="submit" value="{% trans %}Envoyer{% endtrans %}">
                    {{ form_end(form) }}

                {% else %}
                
                    <p>Vous devez être connecté pour pouvoir poster un commentaire</p>

                {% endif %}
            </div>

            <div class="post-comment">
                {% for comment in comments %}
                    <section class="comment-response-forum">
                        <article class="comment-post">
                            <p class="date">{{ comment.DateCommentPost|date('d-m-Y') }}</p>
                            <p class="username username-comment">{{ comment.IdMemberFK.username }}</p>
                            <p class="text-post-comment content-comment-post{{ comment.id }}">{{ comment.TextCommentPost }}</p>

                            <form class="form-edit-comment-post form-edit-comment-post{{ comment.id }}" method="post">
                                <input type="hidden" name="_token" value="{{ csrf_token('edit-comment-post' ~ comment.id) }}">
                                <textarea class="content-comment-edit-post content-comment-edit-post{{ comment.id }}" name="text_comment_post"></textarea>
                            </form>

                            <div class="btn-comment">
                                {% if is_granted('MODIFPOSTCOMMENT', comment) %}
                                    <a class="btn-site btn-edit-comment" data-post="true" data-locale="{{ app.session.get('_locale') }}" data-toggle="false" data-id="{{ comment.id }}" href="{{ path('edit_comment_post', {'id':comment.Id}) }}">{% trans %}Editer le commentaire{% endtrans %}</a>
                                    <a class="btn-site cancel-comment-post cancel-comment-post{{ comment.id }}" href="#">{% trans %}Annuler{% endtrans %}</a>
                                {% endif %}

                                {% if is_granted('MODIFPOSTCOMMENT', comment) %}
                                    {{ include('forum/commentsPost/delete.html.twig') }}
                                {% endif %}
                            </div>
                            
                            {% if is_granted('ROLE_USER') %}
                                <a class="btn-site response-btn" href="#" data-id="{{ comment.Id }}">{% trans %}Répondre{% endtrans %}</a>
                            {% endif %}
                        </article>

                        {% for response in comment.getResponses %}

                            <article class="response-post">
                                <p class="date date-response">{{ response.DateResponse|date('d-m-Y') }}</p>
                                <p class="username">{{ response.IdMemberFK.username }}</p>
                                <p class="text-post-response content-response-post{{ response.id }}">{{ response.TextResponse }}</p>

                                <form class="form-edit-response-post form-edit-response-post{{ response.id }}" method="post">
                                    <input type="hidden" name="_token" value="{{ csrf_token('edit-response-post' ~ response.id) }}">
                                    <textarea class="content-response-edit-post content-response-edit-post{{ response.id }}" name="text_response_post"></textarea>
                                </form>

                                <div class="btn-response">
                                    {% if is_granted('MODIFRESPONSE', response) %}
                                        <a class="btn-site btn-edit-response" data-post="true" data-locale="{{ app.session.get('_locale') }}" data-toggle="false" data-id="{{ response.id }}" href="{{ path('edit_response_post', {'id':response.Id}) }}">{% trans %}Editer la réponse{% endtrans %}</a>
                                        <a class="btn-site cancel-response-post cancel-response-post{{ response.id }}" href="#">{% trans %}Annuler{% endtrans %}</a>
                                    {% endif %}

                                    {% if is_granted('MODIFRESPONSE', response) %}
                                        {{ include('forum/responsesPost/delete.html.twig') }}
                                    {% endif %}
                                </div>
                            </article>

                        {% endfor %}

                        <div class="contain-response{{ comment.Id }}">

                        </div>

                    </section>
                {% endfor %}

                <div class="contain-form-response">
                    {{ form_start(formResponse) }}
                    {{ form_widget(formResponse.text_response) }}
                    <input type="hidden" value="" name="id_comment">
                    <input class="btn-site" type="submit" value="Envoyer">
                    {{ form_end(formResponse) }}
                </div>

                <div class="link-post-page">
                    <a class="btn-site link-return-posts" href="{{ path('posts_list') }}">{% trans %}Revenir à la liste des posts{% endtrans %}</a>
                    <a class="btn-site link-return-homepage" href="{{ path('accueil') }}">{% trans %}Revenir à l'accueil{% endtrans %}</a>
                </div>

                {% for message in app.flashes('success') %}
                    <div id="flash-notice" class="text-center mx-auto">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

        </div>

    </main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/editComment.js') }}"></script>
    <script src="{{ asset('js/editResponse.js') }}"></script>
    <script src="{{ asset('js/editPost.js') }}"></script>
    <script src="{{ asset('js/toggle-response.js') }}"></script>
{% endblock %}