{% extends 'base.html.twig' %}

{% block title %}{{post.TitlePost}}{% endblock %}

{% block body %}
    <main class="main-forum">
        <div class="forum-page">
            <section class="container-forum">
                <article class="forum-show">
    
            {# <th>{% trans %}Titre{% endtrans %}</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th>{% trans %}Membre{% endtrans %}</th>
            <th>{% trans %}Catégorie{% endtrans %}</th>
            <th>{% trans %}Contenu du post{% endtrans %}</th> #}

                    <h2 class="title-post">{{post.TitlePost}}</h2>
                    <p>{{post.DatePost|date('d-m-Y')}}</p>
                    <p>{{post.IdMemberFK.username}}</p>
                    <p>{{post.categorie}}</p>
                    <p>{{post.TextPost}}</p>

                    {% if is_granted('MODIFPOST', post) %}
                        {{ include('forum/delete.html.twig') }}
                        <a class="btn-site" href="{{ path('post_edit', {'id' : post.Id}) }}">{% trans %}Editer{% endtrans %}</a>
                    {% endif %}

                    {% if user %}
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input class="btn-site" type="submit" value="{% trans %}Envoyer{% endtrans %}">
                        {{ form_end(form) }}
                    {% else %}
                        <p>Vous devez être connecté pour pouvoir poster un commentaire</p>
                    {% endif %}

                </article>
            </section>

    {% for comment in comments %}
        <section>
            <p>{{ comment.DateCommentPost|date('d-m-Y') }}</p>
            <p>{{ comment.IdMemberFK.username }}</p>
            <p>{{ comment.TextCommentPost }}</p>

            {% if is_granted('MODIFPOSTCOMMENT', comment) %}
                <a class="btn-site" href="{{ path('edit_comment_post', {'id':comment.Id}) }}">{% trans %}Editer{% endtrans %}</a>
            {% endif %}

            {% if is_granted('MODIFPOSTCOMMENT', comment) %}
                {{ include('forum/commentsPost/delete.html.twig') }}
            {% endif %}

            <a class="btn-site" href="#" data-id="{{ comment.Id }}">{% trans %}Répondre{% endtrans %}</a>

            {% for response in comment.getResponses %}

                <article>
                    <p>{{ response.DateResponse|date('d-m-Y') }}</p>
                    <p>{{ response.IdMemberFK.username }}</p>
                    <p>{{ response.TextResponse }}</p>

                    {% if is_granted('MODIFRESPONSE', response) %}
                        <a class="btn-site" href="{{ path('edit_response_post', {'id':response.Id}) }}">{% trans %}Editer{% endtrans %}</a>
                    {% endif %}

                    {% if is_granted('MODIFRESPONSE', response) %}
                        {{ include('forum/responsesPost/delete.html.twig') }}
                    {% endif %}
                </article>

            {% endfor %}
        </section>
    {% endfor %}

    <section class="modal_response">
        <article class="center_modal_response">
        <span class="close_modal_response">&times;</span>
            {{ form_start(formResponse) }}
            {{ form_widget(formResponse.text_response) }}
            <input type="hidden" value="" name="id_comment">
            <input class="btn-site" type="submit" value="Répondre">
            {{ form_end(formResponse) }}
        </article>
    </section>

    <a class="btn-site" href="{{ path('posts_list') }}">{% trans %}Revenir à la liste des posts{% endtrans %}</a>

    {% for message in app.flashes('success') %}
        <div id="flash-notice" class="text-center mx-auto">
            {{ message }}
        </div>
    {% endfor %}

        </div>
    </main>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}